$clr-1 : #475aa8;
$clr-2 : #556068;
$clr-white : #fff;
$clr-yellow : #F8C84F;
$bg-header-gradient : linear-gradient(to bottom right, rgba(48,35,174, .9) 10%, rgba(200,109,215, .67) 100%);
$bg-header-primary : #3023AE;
$bg-footer-gradient: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
$serif: 'Cormorant Garamond','Cormorant', 'Halant', serif;
$serif-2: 'Noto Serif',serif;
$sans-serif: "Varela Round","Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$clr-sub-heading: #3023ae;
$clr-title: #3023ae;
$clr-btn-hover: #434264;
$bg-btn-hover: #FFE636;

// New Breakpoint
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.container{
		max-width: 750px;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.container{
		max-width: 880px;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.container{
		max-width: 880px;
	}
}

body {
    margin: 0;
    padding: 3rem;
    font-weight: 300;
    line-height: 1.7;
    font-size: 1.25rem;
    color: $clr-2;
    font-family: $sans-serif;
    letter-spacing: 0;
}

a {
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: $serif-2;
    font-weight: 400;
    line-height: 1.5;
    color: $clr-sub-heading
}

h3{
	font-size: 1.75rem;
}
h5{
	font-size: 1.25rem;
}

.title{
	font-size: 2.875rem;
	font-weight: 400;
	color: $clr-title;
	margin-bottom: 2rem;
	line-height: 1.25;
}
p {
    color: $clr-2
}

a {
    -webkit-transition: color 0.5s cubic-bezier(1, 0, 0, 1);
    transition: color 0.5s cubic-bezier(1, 0, 0, 1)
}

b,
strong {
    font-weight: bolder
}

.lh-normal{
	line-height: 1.3 !important;
}
.sans-serif{
  font-family: $sans-serif;
}

.btn-primary {
    color: $clr-2;
    font-weight: 600;
    background-color: $clr-yellow;
    border-color: $clr-yellow
}

.btn-primary:hover {
    color: $clr-btn-hover;
    background-color: $bg-btn-hover;
    border-color: $bg-btn-hover;
}

.btn {
    cursor: pointer;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .85rem;
    border-radius: 40px;
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 275ms ease-in;
    transition: all 275ms ease-in
}

.btn:hover {
    -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2)
}

.bg-primary {
    background-color: #6273DB !important
}

.media-body {
    margin-top: 0.8rem
}

.pb-6 {
    padding-bottom: 4rem
}

.expired-img{
    max-width: 70%;
    height: auto;
    margin-bottom: 5rem;
}

.text-wrap .text-main{
  max-width: 650px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .expired-img{
    max-width: 100%;
    padding: 1rem;
    height: auto;
    margin-bottom: 3rem;
  }
}


